.room-layout {
  display: flex;
}

.member-list-box {
  text-align: center;
  width: 20%;
}

.editor-and-board {
  text-align: center;
  width: 60%;
}

.chat-box {
  text-align: center;
  width: 20%;
}

.room-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}